/*  Style Guide:
 *    Transparent: 70% Opacity
 *
 *    White:      #FFFFFF
 *    Grey-White: #F5F5F5
 *    Faint-Grey: #ECECEC
 *    Light-Grey: #DDDDDD
 *    Grey:       #C5C5C5
 *    Grey-Black: #4A4A4A
 *    Black:      #000000
 *    Neon-Green: #00CBA0
 */

html, body {
	height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
    background-color: #ECECEC;
	font-weight: 300;
    font-size: 18px;
}

body > header {
    background-color: #000;
    font-size: 2.5em;
    padding: .25em;
    color: #00CBA0;
}

body > header nav {
    font-size: .5em;
    display: inline-block;
    float: right;
    padding: .25em;
}

body > header nav a {
    display: block;
    text-decoration: none;
    float: left;
    padding: .25em .5em;
    color: #C5C5C5;
    border: 1px solid #C5C5C5;
    border-right: none;
    transition: all .5s;
}
body > header nav a:hover {
    background-color: #C5C5C5;
    color: #000;
}
body > header nav a:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
body > header nav a:last-of-type {
    border-right: 1px solid #C5C5C5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.data-200 > header nav a:nth-of-type(1){
    background-color: #00CBA0;
    color: #000;
}
.data-700 > header nav a:nth-of-type(2){
    background-color: #00CBA0;
    color: #000;
}
.data-3000 > header nav a:nth-of-type(3){
    background-color: #00CBA0;
    color: #000;
}
.data-all > header nav a:nth-of-type(4){
    background-color: #00CBA0;
    color: #000;
}

body > #chart-container {
    padding: 2em .25em;
    text-align: center;

    /* Ensures footer is on the bottom of the page. */
    min-height: calc( 100vh - 10em );
}

.popover {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
    color: white;
    font-size: 2.5em;
}
.loading #loading {
    display: block;
}
#loading {
    padding-top: 20vh;
}

.chart {
    position: relative;
    display: inline-block;
    padding: 0em .25em;
    width: 30vw;
    min-width: 500px;
    min-height: 300px;
    border: 1px solid #C5C5C5;
    border-radius: .5em;
    overflow: hidden;
    margin: 2.5vw;
    vertical-align: top;
}
.chart:nth-of-type(1) {
    border-color: #19B3FE;
}
.chart:nth-of-type(2) {
    border-color:  #D14634;
}
.chart:nth-of-type(3) {
    border-color: #00CBA0;
}
.chart:nth-of-type(4) {
    border-color: #285165;
}
.chart:nth-of-type(5) {
    border-color: #FE1932;
}
.chart:nth-of-type(6) {
    border-color: #174B40;
}
.chart:nth-of-type(7) {
    border-color: #468EB1;
}
.chart:nth-of-type(8) {
    border-color: #B73D2E;
}
.chart:nth-of-type(9) {
    border-color: #B17123;
}

.chart header {
    font-size: 2em;
    font-weight: bold;
    padding: .25em 0px;
    background-color: #00CBA0;
    color: #FFFFFF;
    position: relative;
    width: calc(100% + .5em);
    left: -.25em;
    margin-bottom: .5em;
}
.chart:nth-of-type(1) header {
    background-color: #19B3FE; /* light blue */
}
.chart:nth-of-type(2) header {
    background-color:  #D14634; /* rusty red */
}
.chart:nth-of-type(3) header {
    background-color: #00CBA0; /* sia green */
}
.chart:nth-of-type(4) header {
    background-color: #285165; /* slate blue */
}
.chart:nth-of-type(5) header {
    background-color: #FE1932; /* bright red */
}
.chart:nth-of-type(6) header {
    background-color: #174B40; /* deep green */
}
.chart:nth-of-type(7) header {
    background-color: #468EB1; /* midway blue */
}
.chart:nth-of-type(8) header {
    background-color: #B73D2E; /* orange red */
}
.chart:nth-of-type(9) header {
    background-color: #B17123; /* orange */
}

/*
468EB1 midway blue
B73D2E orange red
B17123 orange
*/
.chart canvas {
    position: relative;
    display: inline-block;
    padding: .5em 0em;
}

.chart .current-metric {
    display: inline-block;
    padding: 1em;
}

.chart .current-metric h2 {
    display: inline-block;
    margin: 0px;
    margin-bottom: .5em;
}
.chart .current-metric:nth-of-type(1) h2 {
    color: #19B3FE;
}
.chart .current-metric:nth-of-type(2) h2 {
    color:  #D14634;
}
.chart .current-metric:nth-of-type(3) h2 {
    color: #00CBA0;
}
.chart .current-metric:nth-of-type(4) h2 {
    color: #285165;
}
.chart .current-metric:nth-of-type(5) h2 {
    color: #FE1932;
}
.chart .current-metric:nth-of-type(6) h2 {
    color: #174B40;
}
.chart .current-metric:nth-of-type(7) h2 {
    color: #468EB1;
}
.chart .current-metric:nth-of-type(8) h2 {
    color: #B73D2E;
}
.chart .current-metric:nth-of-type(9) h2 {
    color: #B17123;
}


.chart footer {
    font-size: 1.25em;
    font-style: italic;
    padding: .125em 0px;
    background-color: #00CBA0;
    color: #FFFFFF;
    position: relative;
    width: calc(100% + .5em);
    left: -.25em;
}
.chart:nth-of-type(1) footer {
    background-color: #19B3FE;
}
.chart:nth-of-type(2) footer {
    background-color:  #D14634;
}
.chart:nth-of-type(3) footer {
    background-color: #00CBA0;
}
.chart:nth-of-type(4) footer {
    background-color: #285165;
}
.chart:nth-of-type(5) footer {
    background-color: #FE1932;
}
.chart:nth-of-type(6) footer{
    background-color: #174B40;
}
.chart:nth-of-type(7) footer {
    background-color: #468EB1;
}
.chart:nth-of-type(8) footer {
    background-color: #B73D2E;
}
.chart:nth-of-type(9) footer {
    background-color: #B17123;
}



body > footer {
    background-color: #DDDDDD;
    font-size: 1em;
    text-align: right;
    padding: .25em .5em;
}
body > footer:before {
    content: "Updated: "
}
